{% extends 'base.html' %} 
{% block title %} 
Iron Dose Calculator

{% endblock %} 


{% block content %}

    
    
<p><h2>Requirements:</h2></p>
<div class=" req">
    <ul><h3>
        <li>Hb < 100</li>
        <li>Ferritin < 30</li>
        <li>Normal or low ferritin<br> with TSAT< 20%</li>
    </ul>
</div>
    
    
    <h3>Please ensure patient has not had a recent iron infusion<br>
        A placeholder chart must be added to EPMA </h3>
  <h3><a href="/calculator"><h3>Proceed to calculator</h3></a>
  
  {% endblock %} 